exportPattern("^[[:alpha:]]+")
export("%**%")
import(methods,Rcpp)
importFrom(Rcpp, evalCpp)
import(Matrix)
importFrom(lme4,nobars)
importFrom(lme4,findbars)
importFrom(lme4,mkReTrms)
importFrom(parallel,mclapply)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,clusterExport)
importFrom(parallel,clusterEvalQ)
importFrom(parallel,parLapply)
importFrom(parallel,stopCluster)
importFrom(abind,abind)
importFrom(reshape2,melt)
importFrom(coda,HPDinterval)
importFrom(coda,mcmc)
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "boxplot")
importFrom("stats", "as.formula", "median", "na.omit", "sd")
importFrom("utils", "getTxtProgressBar", "setTxtProgressBar",
           "txtProgressBar")
importFrom("grDevices", "dev.list", "dev.new", "dev.off", "dev.set",
           "pdf")
importFrom("graphics", "abline", "arrows", "axis", "barplot", "hist",
           "lines", "par", "plot", "points")
importFrom("methods", "as", "is", "new")
importFrom("stats", "cor", "model.matrix", "poly", "rgamma", "rnorm",
           "runif", "var")
useDynLib(MegaLMM,.registration=TRUE)
